<!DOCTYPE html>
<html>
<head>
    <title>Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h2>Login method automatic detector - Test server</h2>
    <h4>List of available authentication methods:</h4>
    <ul>
        <li><a href="/default_auth/protected">Simple authentication</a></li>
        <li><a href="/csrf_auth/protected">Simple authentication with CSRF</a></li>
        <li><a href="/basic_auth/protected">HTTP Basic authentication</a></li>
        <li><a href="/digest_auth/protected">HTTP Digest authentication</a></li>
        <li><a href="/proxy_auth/protected">HTTP Proxy authentication</a></li>
        <li><a href="/jwt_auth/protected">JWT (JSON Web Tokens) authentication</a></li>
    </ul>
</body>
</html>

